<!DOCTYPE html>
{% extends "HAS/HAS_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1>Humanities & Applied Sciences F.E.  </h1>   
    <p>The First Year Engineering syllabus of Mumbai University comprises of various subjects, as a prerequisite to prepare the
     students for all branches of Engineering. The FE department of GST excels at ` teaching the concepts behind core engineering, 
     with emphasis on applied Mathematics & Sciences.The faculty is dedicated and actively involved in mentoring the young, 
     impressionable minds. The academic programs of this department are organized so as to meet the requirements of the fast growing 
     technology. First year students are nurtured to build their foundation, by our expert faculty.</p>
        
    <h3> Objectives </h3>
    <p>The first year department caters to the requirements of the first year engineering students, by providing proper guidance and 
    motivation. The department aims at developing the student's academic potential and to arouse confidence in them, leading to a 
    successful career.</p>
    <h3>Courses</h3>
    <table style="width:100%">
  <tr>
    <th>SEM 1</th>
    <th>SEM 2</th> 
  </tr>
  <tr>
    <td> Applied Mathematics-I (FEC101) </td>
    <td> Applied Mathematics-II (FEC201) </td> 
  </tr>
  <tr>
    <td> Applied Physics- I (FEC102) </td>
    <td> Applied Physics- II (FEC202) </td> 
  </tr>
  
  <tr>
    <td> Applied Chemistry- I (FEC103) </td>
    <td> Applied Chemistry- II (FEC203)</td> 
  </tr>
  
<tr>
    <td> Engineering Mechanics (FEC104) </td>
    <td> Engineering Drawing ( FEC204) </td> 
  </tr>
  
  <tr>
    <td> BEE (FEC105) </td>
    <td> Structured Programming Approach ( FEC205) </td> 
  </tr>
  
  <tr>
    <td> Environmental Studies (FEC106) </td>
    <td> Communication Skills (FEC206) </td> 
  </tr>
  
  <tr>
    <td> Basic Workshop Practice –I (FEL101) </td>
    <td> Basic Workshop Practice –II (FEL201) </td> 
  </tr>
    {% endblock %}