<!DOCTYPE html>
{% extends "HAS/HAS_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
<h1> SDP seminar on “Art of writing an Application” for FE </h1>
<p> OBJECTIVE 
 Many organizations survive largely on the strength of their proposal and the success of grant applications so it is essential to write them in a way that grabs attention. A well written application can be a powerful way of making the right first impression and setting you apart from other applicants. 
 SESSION
 The department of Humanities and applied sciences conducted a student development program(SDP) titled “The Art of Writing applications” for first year Engineering students on 17 march 2018 at 9.30 Am. The main objective of this student development program was to develop students’ writing skills in general and business letter writing in particular. It was conducted by Dr.Ramkishan Bhise and Dr.Vijay Songire. Around forty students actively participated in this seminar. 
 FFEDBACK
 The event had an overwhelming response from first year students of all branches.

The Graduate School of Technology
Affiliated to the University of Mumbai | AICTE, NBA Accredited
SIES GST is committed to high standards of Engineering Education, whilst complying with the requirements laid down by the statutory and regulatory bodies. The aim is to continually enhance learning opportunities by providing multiple study options through a perfect blend of Academic Excellence, Teaching-learning process, Teacher-student mentoring based on our quality management system that complies with ISO 9001:2008 and enables learners to thrive in a rapidly evolving environment. 
</p>

<h1>Cognition</h1>
<p>Cognition is the annual technical festival organised at the SIES Graduate School of Technology. As one of the premier technical festivals in the city of Navi Mumbai, Cognition defines what it means to be a holistic collegiate festival - an amalgamation of stellar technical prowess and a creative ethos designed to entertain and enthral the wide range of audiences that attend this festival each year.
</p>
<p>In the Era before discrete GPUs and teraflops of performance was a time of gaming simplicity. Electronics and Mechanics went hand in hand to produce a gaming environment that amused an entire generation and beyond. This ‘Age of the Arcade’ also laid the foundation for the modern gaming community that has gone from spanning a neighbourhood competing for high scores at the local arcade to a worldwide family of gamers.
</p>
<p>To celebrate this golden age of gaming and the confluence of technologies, this year Cognition is themed after ‘Arcade’ - an homage to those games that defined our childhood, implemented with today’s tools and resources. Having made a flight into Space in 2015, and a venture into the Virtual World in 2016, experience the pleasures of Time Travel at Cognition 2017 as we revisit Arcade, games from days gone by.
</p>
{% endblock %}