{% extends "HAS/HAS_department.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}My Hello Page{% endblock %}


{% block data %}
<table style="width:100%">
  <tr>
    <th>PHOTO</th>
    <th>NAME</th> 
    <th>POSITION</th>
    <th>QUALIFICATION</th>
  </tr>
  <tr>
    <td> <img src='{% static "images/HAS/manasi_karkare.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Manasi Karkare   </td> 
    <td>HOD</td>
    <td> B.Sc (Phy), M.Sc (Solid State Physics), Ph.D (Phy)</td>
  </tr>
<tr>
    <td> <img src='{% static "images/HAS/asha_raj.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Ms.Asha Raj</td> 
    <td>Assistant Professor</td>
    <td>B.Sc, M.Sc, M.Phil(Mathematics)</td>
  </tr>
  <tr>
    <td> <img src='{% static "images/HAS/seema_khan.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Ms.Seema Khan</td> 
    <td>Assistant Professor</td>
    <td>B.A, M.A, M.Phil (Eng.Lit), SET Cleared</td>
  </tr>
    <tr>
    <td> <img src='{% static "images/HAS/vijaya_patil.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Ms.Vijaya Patil</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc(Mathematics)</td>
  </tr>
    <tr>
    <td> <img src='{% static "images/HAS/pratibha_sharma.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Ms.Pratibha Sharma  </td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, M.Phil (Statistics)</td>
  </tr>
    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Ms.Sandhya Bharambe</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc (Phy), M.Sc(Electronics), B.Ed, Ph.D*</td>
  </tr>
    <tr>
    <td> <img src='{% static "images/HAS/mahesh_biradar.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Mr.Mahesh Biradar</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc(Mathematics), B.Ed</td>
  </tr>
    <tr>
    <td> <img src='{% static "images/HAS/sumitra_padmanabhan.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Ms.Sumitra Padmanabhan  </td> 
    <td>Assistant  Professor</td>
    <td>B.Sc (Electronics), M.Sc (Physics), M.Phil (IT), Ph.D*</td>
  </tr>
    <tr>
    <td> <img src='{% static "images/HAS/geetanjali_mishra.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Geetanjali Mishra</td> 
    <td>Assistant  Professor</td>
    <td>B.A, M.A, Ph.D. (English)</td>
  </tr>

    <tr>
    <td> <img src='{% static "images/HAS/ashwinkumar_chavan.jpg" %}' alt="hi" width="50" height="50"> </td>   
    <td>Mr.Ashwinkumar R Chavan</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, M.Phil (Maths), Ph.D*   </td>
  </tr>  
    <tr>
    <td> <img src='{% static "images/HAS/smitha_kumar.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Smitha S Kumar   </td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, Ph.D. (Chemistry)</td>
   </tr>   
    <tr>
    <td> <img src='{% static "images/HAS/savita_katiyar.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Savita Katiyar   </td> 
    <td>Assistant  Professor</td>
    <td>B.Sc (Che), M.Sc (Org. Chem), Ph.D. (Chemistry)</td>
    </tr>   
     
    <tr>
   <td> <img src='{% static "images/HAS/g_kanthimathi.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.G.Kanthimathi</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, M.Phil, Ph.D (Physics)</td>
  </tr>
  
   <tr>
    <td> <img src='{% static "images/HAS/vijay_songire.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Vijay Songire</td> 
    <td>Assistant  Professor</td>
    <td>B.A, M.A, M.Phil (ENG), Ph.D</td>
  </tr>
  
   <tr>
    <td> <img src='{% static "images/HAS/snehal_kargirwar.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Snehal Kargirwar</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, Ph.D (Chemistry)    </td>
  </tr>
  
   <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Dr.Ramkishan B Bhise</td> 
    <td>Assistant  Professor</td>
    <td>B.A, M.A, M.Phil (Eng), Ph.D</td>
  </tr>
  
   <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Ms.Sunaina Hedav</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc, M.Phil (Maths)</td>
  </tr>
  
   <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Mr.Sandeep Kamble</td> 
    <td>Assistant  Professor</td>
    <td>B.Sc, M.Sc (Maths)</td>
  </tr>
     
</table>
{% endblock %}
