<!DOCTYPE html>
{% extends "Ppt/Ppt_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Printing & Packaging Technology  </h1>   Intake: 60 Students
    <p>SIES GST has the distinction of being the only institute in the entire Asia Pacific belt, to offer a unique industry oriented undergraduate engineering course, B.E. in Printing and Packaging. The course was initiated in 2006-07. Four batches have passed out, with all students successfully placed in industry or pursuing higher studies in premier institutes abroad like Michigan State University (MSU), Rochester Institute of Technology (RIT) & in India like Manipal Institute of Technology & many more. 
The objective of this field is to equip students with various technologies of the growing domain of Printing and Packaging .  </p>
        
    <h3> Vision </h3>
    <p>To be a Premier Department specialized in training & education in the field of Printing and Packaging Technology, striving continuously in pursuit of excellence in Industry – Academia Collaboration, Entrepreneurship and Innovation. </p>
    <h3>Mission </h3>
    <pre>
       1. To provide education of the highest quality with industry based training in the applied engineering field of Printing & Packaging Technology at par with international technological practices and trends. 
       2. To encourage learners to engage in real life problems/situations and cultivate analytical skills, develop creativity and provide practical & innovative solutions to problems. 
       3. To build a foundation for lifelong learning and instil a sense of stewardship of resources used, as learners progress towards becoming responsible technologists of the future. 
       4. To become the centre of excellence for packaging & printing technology and establish a vibrant Industry - Academia Interface for training, internship, research and consultancy.  
    </pre>
{% endblock %}