<!DOCTYPE html>
{% extends "frame.html" %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<h3>ReConnect </h3>
ReConnect is SIESGST’s official alumni association. It was formed with the objective of providing 
a platform for the students to interact with your alumni and for the alumni to share their experiences 
with you. Our goal is to engage with you, the students, on a regular basis and help you with matters 
relating to academics, jobs/internships, upcoming technologies, career guidance and entrepreneurship, 
among others. We also realized that WE had to initiate this engagement and this led us to actively 
participate in several activities and events that were held throughout the year
{% endblock %}