<!DOCTYPE html>
{% extends "frame.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center"> ADMISSIONS 2017 - 18 </h1>
                <br>
                <h5>Candidates can fill the online application form by <a href="http://onlinesiesgst.siesedu.net/" disabled="">clicking here </a></h5>
                *Applications are invited for the First Year and Direct Second Year (DSE) of the four-year degree program
                in Engineering in
                the following courses.
                <br>
 
                <br>
                <h4>An Overview</h4>
                            
                               <img class="materialboxed initialized" src='{% static "images/Admission/Ce.jpeg" %}'>
                               <h1>CE</h1>
                                            
                                <img class="materialboxed initialized" src='{% static "images/Admission/It.jpeg" %}'>
                                <h1> IT </h1>
                                <img class="materialboxed initialized" src='{% static "images/Admission/Me.jpeg" %}'>
                                <h1> ME </h1>
                                <img class="materialboxed initialized" src='{% static "images/Admission/Extc.jpeg" %}'>
                                <h1> EXTC </h1>
                               <img class="materialboxed initialized" src='{% static "images/Admission/Ppt.jpeg" %}'>
                               <h1> PPT </h1>
                <h5 >Guidelines for Admission to First Year Engineering (2017-18)</h5>
                <p>
                    <strong>
                        The SIES Graduate School of Technology established in 2002 is managed by the South Indian
                        Education Society which has been accorded the South Indian Linguistic Minority status as per the
                        provisions in the Constitution. Seats are available in the following categories
                    </strong>
                </p>
                <br>

                <h5>A. South Indian Linguistic Minority | (51% of sanctioned intake)</h5>
                <p >
                    Admissions under the linguistic minority category will be done at the Centralized Admission Process
                    (CAP), Directorate of Technical Education on merit, based on the MHT-CET 2017 score and as per the
                    guidelines laid down by the Directorate of Technical Education (DTE), Mumbai. Candidates eligible
                    for admission to the First Year Engineering under this category shall satisfy the general
                    eligibility conditions as per the DTE Information Brochure 2017.
                </p>

                <br>

                <h5>B. CAP/All India |29 % of sanctioned intake </h5>
                <p>
                    The open category seats will be filled by the eligible candidates who satisfy the general
                    eligibility conditions and are from the State of Maharashtra. Candidates under the All India Quota
                    should satisfy the general eligibility conditions and have obtained a MHT-CET 2017 or JEE Main Paper
                    I score. Candidates under the J &amp; K migrant quota should satisfy the general eligibility conditions
                    for admission. The candidate belonging to this type is required to appear for the MHT-CET 2017 or
                    JEE Main Paper I. The CAP shall be conducted by the DTE and eligible candidates are advised to
                    follow the online admission procedure.

                </p>
                <br>

                <h5>C. Institute Level | 20 % of sanctioned intake</h5>
                <p>
                    The SIES GST does not charge any capitation fee for admission to any of its programs. All the
                    admissions under the institute level (management) quota shall be done in a fair and transparent
                    manner and on merit. The eligible candidature will be as per the guidelines given by Directorate of
                    Technical Education/Admission Regulating Authority vide their information
                    brochure 2017. Reservation may be made applicable for the ward of SIES staff under this category.
                </p>
                <br>

                <h5>D. Against vacant seats after CAP rounds</h5>
                <p>
                    Vacancy within the sanctioned intake due to the non-reporting (All India, MS seats, Minority in
                    CAP), non-allotment (All India, MS seats, Minority in CAP) and cancellations, if any (under any
                    category), will be filled as per the DTE guidelines 2017-18.

                </p>
                <!--Branch intake table-->
                <table >
                    <thead>
                    <tr>
                        <th data-field="sr">Sr.No</th>
                        <th data-field="branch">Branch</th>
                        <th data-field="intake">Intake</th>
                        <th data-field="minority">Minority Quota (51%)</th>
                        <th data-field="institute">Institute Level (20%)</th>
                        <th data-field="cap">CAP (29%)</th>
                        <th data-field="jk">J&amp;K</th>
                        <th data-field="tfws">TFWS</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Electronics &amp; Telecommunications</td>
                        <td>120</td>
                        <td>61</td>
                        <td>24</td>
                        <td>35</td>
                        <td>1</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Computer Engineering</td>
                        <td>90</td>
                        <td>46</td>
                        <td>18</td>
                        <td>26</td>
                        <td>1</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Information Technology</td>
                        <td>60</td>
                        <td>31</td>
                        <td>12</td>
                        <td>17</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Printing &amp; Packaging Technology</td>
                        <td>60</td>
                        <td>31</td>
                        <td>12</td>
                        <td>17</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Mechanical Engineering</td>
                        <td>60</td>
                        <td>31</td>
                        <td>12</td>
                        <td>17</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    Percentage of seats available under CAP/Institute/Minority/All India Quota is decided by the
                    Directorate of Technical Education/ Admission Regulating Authority, Mumbai. The exact distribution
                    of seats available under the above mentioned categories shall be notified by the Directorate of
                    Technical Education/Admission Regulating Authority, Mumbai before submission of applications forms.
                    However, it is made expressly clear that if, after issuance of this brochure, any seat(s) and
                    admission (s) allocation difference exists, a separate notification will be made with appropriate
                    details.
                </p>
                <br>
                <h5>General Eligibility Conditions </h5>
                <strong>
                    Candidates will be eligible for admission to the First Year Engineering Course as per the
                    eligibility conditions listed below (Refer DTE notification 2017-18 for details
                </strong>
                <ol>
                    <li>
                        Candidate should be an Indian National
                    </li>
                    <br>
                    <li>
                        Should have passed the Higher Secondary Certificate HSC (Std.XII) examination of the Maharashtra
                        State Board of Secondary and Higher Secondary Education or its equivalent examination with
                        subjects English, Physics and Mathematics as compulsory subjects along with one of the Chemistry
                        or Bio-Technology or Biology or Technical or Vocational subjects and obtained at least 50% (at
                        least 45% marks, in case of Backward class categories and persons with disability candidates
                        belonging to Maharashtra State only) taken together<br>
                        <h5>OR</h5><br>
                        Passed Diploma in Engineering and Technology and obtained at last 50% marks (at least 45% marks,
                        in case of Backward class categories and persons with disability candidates)
                        <h5>OR</h5><br>
                        Paased B.Sc.Dgree from a Recognized University as defend by UGC and obtained at least 50% marks
                        (at least 45% in case of backward class categories and persons with disability)
                    </li>
                    <br>
                    <li>
                        Should have scored in MHT-CET 2017 /JEE Main Paper – I 2017 conducted by the Competent
                        Authority. DTE notification 2017-18 will be final in this regard<br>
                        <h5>Admission Procedure for Category C &amp; D at the Institute level </h5>
                        <p>
                            Applications shall be invited for the seats available under institute level quota and
                            vacancies arising after CAP by giving publicity in three newspapers viz; Times of India, DNA
                            Navi Mumbai &amp; Daily Thanthi.
                            Admission notification, detailed schedule of counseling rounds, merit lists and all relevant
                            details will be displayed on the college notice board and the institute website
                            www.siesgst.net<br>
                            <strong>Registration is computerized &amp; eligible candidates will be required to register in
                                the institute and submit the signed application form along with the required documents
                                in the institute office. </strong><br>
                            Seats will be allotted to candidates as per their inter se merit, as per the options filled
                            and the number of seats filled at that point of time in the stage of counseling / allotment
                            rounds.
                        </p>
                    </li>
                </ol>
                <br>
                <h5>Counseling Rounds</h5><br>
                <ol>
                    <li>
                        Seat allotment will be done through counseling. Eligible candidates must report in person at the
                        institute to secure admission strictly as per the notified counseling schedule on the college
                        notice board and website. Candidates who report late will not be allowed to participate in the
                        related counseling round and will lose claim to the seat available by inter se merit at that
                        point of time. Further, candidates failing to report for the counseling rounds will be out of
                        the admission process. Candidates who secure admission as per their choice must confirm the
                        admission within two working days by paying full fees and producing necessary documents in
                        original along with required number of attested copies.
                    </li><br>
                    <li>
                        In case of vacancies after the counseling round, further counseling round may be conducted
                    </li>
                </ol><br>
                <h5>GENERAL NOTES</h5>
                <ol>
                    <li>
                        Merit of all eligible candidates will be based on the rules and regulations laid down by the Directorate of Technical Education/Admission Regulating Authority, Mumbai
                    </li><br>
                    <li>
                        Counseling schedule as per merit will be put up on the college notice board &amp; website (www.siesgst.net) at every stage of the admission. No personal communication/allotment letters in this regard will be issued to the concerned candidates.
                    </li><br>
                    <li>
                        During the counseling round, the candidate will be allotted seats according to the availability of seats at that point of time. The candidate will be allowed to keep claim on his choice.
                    </li><br>
                    <li>
                        In case of vacancies after first counseling round, subsequent counseling round will be conducted. The detailed schedule will be notified in the college notice board and website. The students who have kept their claim will also be considered in the subsequent counseling round as per inter se merit.
                    </li><br>
                    <li>
                        The candidates securing allotment will confirm the admission by reporting at the institute mentioned in allotment along with the original certificates needed for admission, by paying necessary fees on or before the last date specified for the same. No personal communication in this regard will be issued.
                    </li><br>
                    <li>
                        Candidates who secure admission in this round must confirm the admission on the spot by paying full fees with a non-refundable component of Rs. 20,000/- and producing necessary documents in original for confirming the admission.
                    </li><br>
                    <li>
                        The admission will be confirmed by the Institute only after scrutiny of documents and payment of fees as prescribed by the Fee Regulating Authority, Mumbai.
                    </li><br>
                    <li>
                        Fees: The fee fixed by the Fee Regulating Authority for the academic year 2017-18 is
                        <br>
                        <table>
                            <thead>
                            <tr>
                                <th>Fee particulars</th>
                                <th>Amount</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>The Tuition fee as decided by the Fee Regulating Authority </td>
                                <td>Rs. 1,02,273/- </td>
                            </tr>
                            <tr>
                                <td>Development Fee </td>
                                <td>Rs.10,227/-</td>
                            </tr>
                            <tr>
                                <td>Exam fees </td>
                                <td>Rs.2000/-</td>
                            </tr>
                            <tr>
                                <td>Enrolment Fee (Maharashtra State Board Students)</td>
                                <td>Rs.220/-</td>
                            </tr>
                            <tr>
                                <td>Eligibility &amp; Enrolment (Applicable only for CBSE/ICSE/Other State Board students/Diploma students) </td>
                                <td>Rs.540/- </td>
                            </tr>
                            <tr>
                                <td>Miscellaneous Fee (Student deliverables, Student Insurance, University sports, cultural and disaster relief fund etc.) </td>
                                <td>Rs.1600/- </td>
                            </tr>
                            </tbody>
                        </table>
                        <strong>Payment by Cash or Cheque will not be accepted.</strong>
                        <strong>
                            fee is to be paid by Demand Draft/Pay order drawn on any  bank in favor of the  Principal, SIES Graduate School of Technology, payable at Nerul, Navi Mumbai.<br>
                            The SIES Management has instituted a few tuition gee waivers for the first year for candidates opting for the Printing &amp; Packaging Technology course under category C &amp; D only (Conditions apply) </strong>
                    </li><br>
                    <li>
                       <h5>Cancellation of Admission </h5><br>
                        The cancellation of admission will be as per the rules and regulations laid down by the Directorate of Technical Education/Admission Regulating Authority, Mumbai.
                    </li><br>
                    <li>
                        <h5>List of self-attested Copies (one each) of Certificates to be attached with the Application</h5>
                        <ol>
                            <li> Mark sheet of SSC/Std. X Examination. </li>
                            <li>School/College Leaving Certificate from the Institution, which the candidate has passed the qualifying examination.</li>
                            <li> Mark sheet at the qualifying examination (Std. XII or equivalent). </li>
                            <li>Domicile Certificate/Nationality Certificate as applicable (Nationality Certificate is mandatory   if the student's Nationality is not mentioned in his/her Leaving Certificate). </li>
                            <li> Eligibility Certificate from the University of Mumbai (in case of candidates who have passed the qualifying examination from outside Maharashtra - CBSE, ICSE, Diploma holders, OMS Candidates) –After taking admission  only students needs to apply to the University of Mumbai through the Institute. </li>
                            <li> Migration Certificate from the Board (in case of candidates who have passed the qualifying examination from outside Maharashtra - CBSE, ICSE, Diploma holders, Outside Maharashtra Candidates). </li>
                            <li> Minority Status declaration as prescribed in the admission brochure of Admission Regulating Authority/Directorate of Technical Education, Mumbai  in case of students belonging to the South Indian Linguistic Minority. </li>
                            <li>MHT-CET 2017/ JEE –Main 2017  Score Card as applicable</li>
                            <li> Gap Certificate (in case of a student passing the qualifying examination before 2017) </li>
                            <li> Caste category/ physically handicapped/ Defense Quota/ J &amp; K Quota/ TFWS Category - Certificates as applicable. </li>
                            <li>Minority Affidavit Format - The format to be typed on Rs. 100/- stamp paper and to be notarized. <a href="http://www.siesgst.edu.in/uploads/Minority%20Affidavit%20Format.JPG" target="_blank">Click here to download.</a></li>
                            <li>Medical Fitness Certificate : The certificate to be obtained from a Registered Medical Practitioner. <a href="http://www.siesgst.edu.in/uploads/Medical%20certificate%20format.docx" target="_blank">Click here to download.</a></li>
                        </ol><br>
                        <strong>Note: Please do not attach Original Certificates and the certificates, which are not asked for. Incomplete forms will not be accepted. However, the original documents are to be submitted at the time of securing admission.</strong>
                    </li>
                </ol>
             <h5>Eligibility Criteria</h5>
                    <p>
                        As per the Directorate of Technical Education, Mumbai, Maharashtra information brochure for the
                        year 2017-18.
                        <br><br>
                    </p><h5>Guidelines</h5>
                    <h6>Includes Fee Structure</h6>
                    <a href='{% url 'Brochure' %}'>DOWNLOAD BROCHURE</a>
                    <br><br>
                    <a href='{% url 'Feestructure' %}'>FEE STRUCTURE </a>
                    <br><br>
               
                <h5>Got Questions?</h5>
                <p>Feel free to get in touch with Us.</p>
                <h5>Contact</h5>
                
                <img src="{% static "images/Admission/Head.png" %}" alt="Contact Person" />
                    Ms. Vijayalakshmi Murali
                
                <br>
                Office Superintendent<br>
                office_supt@siesgst.ac.in
            

{% endblock %}