{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SIES GST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/body_style.css" %}'>
  <script type = "text/javascript" src='{% static "js/jquery.min.js" %}'> </script>
  <script type = "text/javascript" src='{% static "js/popper.js" %}'> </script>
  <script type = "text/javascript" src='{% static "js/popper.min.js" %}'> </script>
  <script type = "text/javascript" src='{% static "js/bootstrap/bootstrap.min.js" %}'></script>
</head>
<body>
    <div style="height:15%">
        <img  src='{% static "images/gst.png" %}' style="height:100%; float:left"/>
        <div style="height:30%" align=right>            
            <a href = ''>Library </a>
            <a href = ''>Faculty </a>      
            <a href = ''>Students </a> 
            <a href = '{% url 'Alumni' %}'>Alumni </a>
        </div>                
        <div style="height:68%">
            <big style="float:center; padding-left:80px">SIES Graduate School of Technology</big>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">    
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href = '{% url 'home' %}'>Home </a> </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About us</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href='{% url 'Overview' %}'>Overview</a>                    
                        <a class="dropdown-item" href='{% url 'Managing_committee' %}'>Managing Committee</a>
                        <a class="dropdown-item" href='{% url 'The_principal' %}'>The Principal</a>
                        <a class="dropdown-item" href='{% url 'Core_values' %}'>Core Values</a>
                        <a class="dropdown-item" href='{% url 'Organisation_and_governance' %}'>Organisations & Governance</a>
                        <a class="dropdown-item" href='{% url 'Internal_complaint_committee' %}'>Internal Complaint Committee</a>
                        <a class="dropdown-item" href='{% url 'Woman_dev_cell' %}'>Women Development Cell</a>
                        <a class="dropdown-item" href='{% url 'Iqac' %}'>Internal Quality Assurance Committee</a>
                        <a class="dropdown-item" href='{% url 'Anti_ragging_committee' %}'>Anti Ragging Committee</a>
                        <a class="dropdown-item" href='{% url 'Vision_and_mission' %}'>Vision and mission</a>
                    </div>
                </li>
                
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Departments</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href='{% url 'Comp_about' %}'>Computer Engineering</a>                    
                        <a class="dropdown-item" href='{% url 'Extc_about' %}'>Electronics & Telecommunication Engineering</a>
                        <a class="dropdown-item" href='{% url 'Mech_about' %}'>Mechanical Engineering</a>
                        <a class="dropdown-item" href='{% url 'IT_about' %}'>Information Technology</a>
                        <a class="dropdown-item" href='{% url 'Ppt_about' %}'>Printing & Packaging Technology</a>
                        <a class="dropdown-item" href='{% url 'HAS_about' %}'>Humanities & Applied Science</a>
                        <a class="dropdown-item" href='{% url 'Admin_office' %}'>Admin Office</a>
                        <a class="dropdown-item" href='{% url 'Exam_cell' %}'>Exam Cell</a>
                    </div>
                </li>            
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Amenities</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href='{% url 'Library' %}'>Library</a>                    
                        <a class="dropdown-item" href='{% url 'Divyangan' %}'>Divyangjan Facilities</a>
                        <a class="dropdown-item" href='{% url 'Eyantra' %}'>Eyantra</a>
                        <a class="dropdown-item" href='{% url 'Iitbombay' %}'>IIT Bombay</a>
                        <a class="dropdown-item" href='{% url 'Computer_centre' %}'>Computer Center</a>
                        <a class="dropdown-item" href='{% url 'Intranet' %}'>Intranet</a>
                        <a class="dropdown-item" href='{% url 'General_laboratories' %}'>General Laboratories</a>
                        <a class="dropdown-item" href='{% url 'Auditorium_and_halls' %}'>Auditorium & Hall</a>
                        <a class="dropdown-item" href='{% url 'Aakash_project_labs' %}'>Akash Project Labs</a>
                        <a class="dropdown-item" href='{% url 'Miscellaneous' %}'>Miscellaneous</a>
                    </div>
                </li>
                
                
                <li class="nav-item"><a class="nav-link" href = '{% url 'Admission' %}'>Admission </a> </li>
                <li class="nav-item"><a class="nav-link" href = '{% url 'Placement' %}'>Placement </a> </li>
                <li class="nav-item"><a class="nav-link" href = ''>Specialized Laboratories </a> </li> 
                <li class="nav-item"><a class="nav-link" href = '{% url 'Research_Grants' %}'>Research </a> </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Campus Life</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=''>Student Chapters</a>                    
                        <a class="dropdown-item" href=''>NSS</a>
                        <a class="dropdown-item" href=''>Dream Run</a>
                        <a class="dropdown-item" href=''>Clubs</a>
                        <a class="dropdown-item" href=''>Festivals</a>
                        <a class="dropdown-item" href=''>Student Council</a>
                        <a class="dropdown-item" href="">Capability Enhancement</a>
                    </div>
                </li>
                
                
                <li class="nav-item"><a class="nav-link" href = ''>NEWS </a> </li>
                <li class="nav-item"><a class="nav-link" href = ''>NIRF </a> </li>
                <li class="nav-item"><a class="nav-link" href = ''>NAAC </a> </li>
                <li class="nav-item"><a class="nav-link" href = '{% url 'Mandatory_disclosure_documents' %}'>Mandatory Disclosure </a> </li> 
                <li class="nav-item"><a class="nav-link" href = '{% url 'Contact_us' %}'>Contact us </a> </li>  
            </ul>
        </div>
    </nav>
    
    {% block content %}
        Page Content
    {% endblock %}

</body>
</html>