<!DOCTYPE html>
{% extends "Comp/Comp_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Department of COMPUTER ENGINEERING </h1>   Intake: 90 Students
    <p>The department of Computer Engineering is committed to the cause of growth and advancement of computer related technologies. 
    The department was started in the year 2002 with the aim of acquainting students with the latest trends in 
    Computer Science and Engineering. The Department has faculty members with both industrial and academic experience. 
    Knowledge is imparted in Computer Architecture and Design, maintenance and networking. 
    Students are also taught a spectrum of programming languages, spanning assembly language programming,
     C, Java, C++, .Net and operating systems like UNIX and Windows. 
The undergraduate program in Computer Engineering is essentially aimed at equipping a student with excellent 
programming and system related competencies. Teaching is focused on systems programming as well as application programming.</p>
        
    <h3> Vision </h3>
    <p>To create a center for imparting technical education of international standards and produce quality manpower equipped with human
     and social values in the Discipline of Computer Engineering.</p>
    <h3>Mission </h3>
    <pre>
    1. To impart advanced knowledge in Engineering and Technology. 
    2. To transform young minds towards professional competence by inculcating values and developing skills. 
    3. To promote research aptitude and ensure continuous value addition among student and employees.
    4. To strengthen association with industry, research organization and alumni to enhance knowledge on current technologies.
    5. To nurture entrepreneurial talent and contribute towards social-economic growth.
    </pre>
{% endblock %}