<!DOCTYPE html>
{% extends "Comp/Comp_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}


{% block data %}
<table style="width:100%">
  <tr>
    <th>PHOTO</th>
    <th>NAME</th> 
    <th>POSITION</th>
    <th>QUALIFICATION</th>
  </tr>
  <tr>
    <td><img src='{% static "images/Comp/rizwana_shaikh.jpg" %}' width="50" height="50"></td>
    <td>Dr. Rizwana Shaikh</td> 
    <td>HOD</td>
    <td>B.E(IT), M.E(CE), Ph.d</td>
  </tr>
<tr>
    <td><img src='{% static "images/Comp/aparna_bannore.jpg"  %}' width="50" height="50"></td>
    <td>Prof.Aparna Bannore</td> 
    <td>Associate Professor</td>
    <td>B.E(CSE), M.E(CE), Ph.d*</td>
  </tr>
  <tr>
    <td><img src='{% static "images/Comp/deepti_reddy.jpg" %}' width="50" height="50"></td>
    <td>Prof.Deepti Reddy</td> 
    <td>Associate Professor</td>
    <td>B.Tech, M.E(CE), Ph.d*</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Comp/prachi_shahane.jpg" %}' width="50" height="50"></td>
    <td>Prof.Prachi Shahane</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Comp/rajesh_kadu.jpg" %}' width="50" height="50"></td>
    <td>Prof.Rajesh Kadu</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.Tech (CE), Ph.D*</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Comp/suvarna_chaure.jpg" %}' width="50" height="50"></td>
    <td>Prof.Suvarna Chaure</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Comp/sunil_punjabi.jpg" %}' width="50" height="50"></td>
    <td>Prof.Sunil Punjabi</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Comp/pranita_mahajan.jpg" %}' width="50" height="50"></td>
    <td>Prof.Pranita Mahajan</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/ujwala_ravale.jpg" %}' width="50" height="50"></td>
    <td>Prof.Ujwala Ravale</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>

    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Preeti godabole</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>  
      <tr>
    <td><img src='{% static "images/Comp/masooda_modak.jpg" %}' width="50" height="50"></td>
    <td>Prof.Msooda Modak</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E, Ph.d *</td>
        <tr>
    <td><img src='{% static "images/Comp/anindita_khade.jpg" %}' width="50" height="50"></td>
    <td>Prof.Anindita Khade</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/varsha_patil.jpg" %}' width="50" height="50"></td>
    <td>Prof.Varsha Patil</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E. Ph.d*</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/monika_sharma.jpg" %}' width="50" height="50"></td>
    <td>Prof.Monika Sharma</td> 
    <td>Assistant  Professor</td>
    <td>B Level (MCA), M.Tech (CE), Ph.D*</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/kalyani_pampattiwar.jpg" %}' width="50" height="50"></td>
    <td>Prof.Kalyani Pampattiwar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/namrata_patel.jpg" %}' width="50" height="50"></td>
    <td>Prof.Namrata Patel</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Comp/asmita_shejale.jpg" %}' width="50" height="50"></td>
    <td>Prof.Asmita Shejale</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
   <tr>
    <td><img src='{% static "images/Comp/roopal_mamtora.jpg" %}' width="50" height="50"></td>
    <td>Prof.Roopal Mamtora</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>
   <tr>
    <td><img src='{% static "images/Comp/kranti_bade.jpg" %}' width="50" height="50"></td>
    <td>Prof.kranti Bade</td> 
    <td>Assistant  Professor</td>
    <td>B.E(IT), M.E(CSE)</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Amit Pandhare</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E (CSE)</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Pranjali Thakre</td> 
    <td>Assistant  Professor</td>
    <td>B.E (CT), M.E (Embedded sys & computing)</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Yashashree Bendale</td> 
    <td>Assistant  Professor</td>
    <td>B.Tech (CST), M.E (CE)</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Suneha Patil</td> 
    <td>Assistant  Professor</td>
    <td>B.E(CE), ME(CE)</td>
  </tr>
  <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Bhavna Rotee</td> 
    <td>Assistant  Professor</td>
    <td>B.E(CE), ME(CE)</td>
  </tr>
</table>
{% endblock %}
