<!DOCTYPE html>
{% extends "Research/Research.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Research Grants Received </h1>
    <p><strong>Minor research grant of Mumbai University for the year 2016-17</strong></p>
    <table style="width:100%">
        <tr>
            <td>Sr. No</td>
            <td>Name of Principal Investigator</td>
            <td>Title of the Research</td>
            <td>Fund Sanctioned</td>
        </tr>
        <tr>
            <td>1<strong>.</strong></td>
            <td>Dr.Atul Kemkar</td>
            <td>Analyzing Public safety&nbsp; communications signals using Software defined radio
                receiver.
            </td>
            <td>30000/-</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Dr. Rizwana Shaikh</td>
            <td>Real Time pothole detection using android smartphone and IoT based approach</td>
            <td>20000/-</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Prof. Suvarna Chaure</td>
            <td>An efficient way for monitoring Solid Waste Management</td>
            <td>25000/-</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Prof. Seema Redekar</td>
            <td>Smart light system</td>
            <td>25000/-</td>
        </tr>
    </table>
        
    <br>
    <br>
    
    <p><strong>Minor research grant of Mumbai University for the year 2015-16</strong></p>
    <table style="width:100%">
        <tr>
            <td>Sr. No</td>
            <td>Name of Principal Investigator</td>
            <td>Title of the Research</td>
            <td>Fund Sanctioned</td>
        </tr>
        <tr>
            <td>1.</td>
            <td>Dr. Mansi Karkare</td>
            <td>Preparation of thin film of Nano TiO2 and Study of its Optical, Electrical and&nbsp;
                Photo catalytic properties
            </td>
            <td>50000/-</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Prof. Prachi U. Bahurupi</td>
            <td>Real time Monitoring of CO2 emissions in vehicles with Raspberry-Pi</td>
            <td>30000/-</td>
        </tr>
    </table>
{% endblock %}