<!DOCTYPE html>
{% extends "Extc/Extc_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Department of ELECTRONICS AND TELECOMMUNICATION ENGINEERING </h1>   Intake: 120 Students
    <p>The department of EXTC was started in 2002. Right from the inception of the institute, it has progressed rapidly, to be regarded, as one of the premiere departments with excellent infrastructure and dedicated faculty. The department has highly qualified and competent faculty members who specialize in their areas of expertise, in order to give the students a holistic and pragmatic view of the present scenario of Electronics and Communication industry. 
The main objective of this course is to produce talented engineers in the field of Electronics & Telecommunication Engineering. Emphasis is on teaching designing, testing and implementation of electronic circuits required for communication-related areas. </p>
        
    <h3> Vision </h3>
    <p>To offer quality education in Electronics & Telecommunication Engineering with research focus & collaborative ventures with industries to develop technocrats for socio-economic growths. </p>
    <h3>Mission </h3>
    <pre>
        1. To provide quality education satisfying the requirements of academics, research & corporate world. 
        2. To develop skills to cater the socio economic needs. 
        3. To develop interaction with industry to bridge the gap between academics & industrial requirements. 
        4. To develop entrepreneurship skills. 
    </pre>
{% endblock %}