<!DOCTYPE html>
{% extends "Extc/Extc_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}


{% block data %}
<table style="width:100%">
  <tr>
    <th>PHOTO</th>
    <th>NAME</th> 
    <th>POSITION</th>
    <th>QUALIFICATION</th>
  </tr>
  <tr>
    <td><img src='{% static "images/Extc/atul_kemkar.jpg" %}' width="50" height="50"></td>
    <td>Dr. Atul Kemkar</td> 
    <td>HOD</td>
    <td>B.E, M.E, Ph.d (Electronics)</td>
  </tr>
<tr>
    <td><img src='{% static "images/Extc/preeti_hemnani.jpg" %}' width="50" height="50"></td>
    <td>Prof.Preeti Hemnani</td> 
    <td>Associate Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>
  <tr>
    <td><img src='{% static "images/Extc/shubhangi_kharche.jpg" %}' width="50" height="50"></td>
    <td>Prof.Shubhangi Kharche</td> 
    <td>Associate Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Extc/swati_rane.jpg" %}' width="50" height="50"></td>
    <td>Prof.Swati Rane</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>
    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Preeti Kuperkar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Extc/vandana_sawant.jpg" %}' width="50" height="50"></td>
    <td>Prof.Vandana Sawant</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Extc/pushkar_sathe.jpg" %}' width="50" height="50"></td>
    <td>Prof.Pushkar Sathe</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Extc/senthil_lumar.jpg" %}' width="50" height="50"></td>
    <td>Prof. D. Senthil Kumar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Extc/shyamla_mathi.jpg" %}' width="50" height="50"></td>
    <td>Prof.Shyamla Mathi</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>

    <tr>
    <td><img src='{% static "images/Extc/pratibha_joshi.jpg" %}' width="50" height="50"></td>
    <td>Prof.Pratibha Joshi</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>  
      <tr>
    <td><img src='{% static "images/Extc/sonal_jatkar.jpg" %}' width="50" height="50"></td>
    <td>Prof.Sonal Jatkar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
        <tr>
    <td><img src='{% static "images/Extc/kintu_patel.jpg" %}' width="50" height="50"></td>
    <td>Prof.Kintu Patel</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Extc/pranavi_mhatre.jpg" %}' width="50" height="50"></td>
    <td>Prof.Pranavi Mhatre</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Extc/hema_raut.jpg" %}' width="50" height="50"></td>
    <td>Prof.Hem Raut</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Nita Patil</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Vaishali Mangrulkar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
      <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Sivakumar Elangovan</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
   <tr>
    <td><img src='{% static "images/Extc/vishal_gaikwad" %}' width="50" height="50"></td>
    <td>Prof.Vishal Gaikwad</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Madhuri Kulkarni</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Priyanka Kadam</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Shishir Jagtap</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E, Ph.d*</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Biju Balakrishnan</td> 
    <td>Assistant  Professor</td>
    <td>    B.E (EXTC), M.Tech (Comm. Engg.)</td>
  </tr>
   <tr>
    <td><img src="" width="50" height="50"></td>
    <td>Prof.Vivek Ramakrishnan</td> 
    <td>Assistant  Professor</td>
    <td>B.E,M.Tech(Electronics), M.S (Electrical) By Research</td>
  </tr>
</table>
{% endblock %}