<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center">AAKASH PROJECT LABORATORY</h1>
<p><STRONG>
                The institute is part of the MHRD funded Aakash project in collaboration with IIT Mumbai for testing, 
                and deploying Aakash tablets, and for developing useful applications and contents, for empowerment of teachers 
                and students. Under this project, the objective is to test and enhance the effectiveness of these tablets for 
                use in a class-room environment and development of new educational applications and contents on Aakash, 
                largely through final year research and development projects done by BE students.
</STRONG></p>
<H3 align="center">Aakash Tablets</h3>
<p><STRONG>
  Aakash tablets are issued by IIT Bombay.              
</STRONG></p>
{% endblock %}