<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<h1 align="center">AUDITORIUMS SEMINAR HALLS</h1>
<p><STRONG>
             SIES Graduate School of technology has two auditoriums. 
             With a combined capacity of over 200 students and boasting of state of the art Audio - Visual system, 
             these auditoriums are perfectly suitable for the various activities conducted by the students 
             (workshops, seminars) as well as the college (placement activities).
</STRONG></p>
<img src="{% static "images/Amenities/Auditorium.gif" %}" alt="audi">


{% endblock %}