<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<h1 align="center">COMPUTER CENTRE</h1>
<img src="{% static "images/Amenities/Computer_cente.jpg" %}">

<p><STRONG>
               The Computer Center provides advanced computing facilities to the academic and 
               administrative community of the college and plays a critical role in helping to keep 
               the college at the leading edge of information technology by continuously enhancing and 
               upgrading its facilities. The center is equipped with the latest hardware and software facilities
                with modern computers all well networked with 24 hour internet facility.
                 It is not only a platform for the students to sharpen their computer skills 
                 but also provides support & guidance to the students taking up projects in the field of software.
</STRONG></p>
{% endblock %}