<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center">E-YANTRA LABORATORY</h1>
<img src="{% static "images/Amenities/Eyantra.jpg" %}">

<p><STRONG>
                E-yantra is a project supported by MHRD to spread education in robotics and embedded systems in India.
                Under this collaboration with IIT Bombay, the institute has established a Robotics Lab. 
                The lab is well equipped with various Robotic kits.
                It aims to provide hands-on learning-infrastructure to students and teachers 
                through application of maths, computer science, and engineering principles. 
                The students actively participate in developing robotic applications.
</STRONG></p>
{% endblock %}