<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center">GENERAL LABORATORIES</h1>
<p><STRONG>
               The Language laboratory, Drawing hall and the mechanical workshop comprising of Fitting Shop,
               Metal shop, Foundry Shop, Carpentry Shop have been well developed. 
               Physics & Chemistry Laboratories and Applied Mechanics Laboratories have been provided 
               with latest equipments for conducting experiments for the benefit of the students in understanding 
               the basic concepts and underlying applications of science in Engineering.
</STRONG></p>
<h5> Chemistry Laboratory</H5>
<img src="{% static "images/Amenities/Chemistry_lab.jpg" %}" width="100" height="100">

<h5>Physics Laboratory</H5>
<img src="{% static "images/Amenities/Physics_lab.jpg" %}" width="100" height="100">


<h5> Fluid Mech Laboratory</H5>
<img src="{% static "images/Amenities/Fluid_mech_lab.jpg" %}" width="100" height="100">


<h5>Biotech Laboratory</h5>
<img src="{% static "images/Amenities/Biotech_lab.jpg" %}" width="100" height="100">


<h5>RAC Laboratory</h5>
<img src="{% static "images/Amenities/Rac_lab.jpg" %}" width="100" height="100">


<h5>ICE Laboratory</h5>
<img src="{% static "images/Amenities/Ice_lab.jpg" %}" width="100" height="100">

<h5>Computer Laboratory</h5>
<img src="{% static "images/Amenities/Computer_lab_2.jpg" %}" width="100" height="100">

<h5>PPT Laboratory 1</h5>
<img src="{% static "images/Amenities/Ppt_lab_1.jpg" %}" width="100" height="100">


<h5>PPT Laboratory 2</h5>
<img src="{% static "images/Amenities/Ppt_lab_2.jpg" %}" width="100" height="100">
{% endblock %}


