<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center">IIT-BOMBAY REMOTE CENTER</h1>


<p><STRONG>
               SIES Graduate School of technology has been given the status of remote centre of IIT Bombay 
               which is part of the National Mission on Education through ICT (MHRD, Govt. of India).
               It acts as the intermediary between IIT Bombay and the participating teachers during the workshop.
               The workshops are conducted in the distance mode, using A-VIEW software and Internet.
<br><br>
Many workshops were conducted for students and faculties through the remote center.
</STRONG></p>
{% endblock %}