<!DOCTYPE html>
{% extends "Amenities/Amenities_department.html" %}
{% load staticfiles %}
{% block title %}My Hello Page{% endblock %}

{% block content %}
<H1 align="center">WLAN CONNECTIVITY</h1>


<p><STRONG>
               We have an excellent intranet facility available in college campus, 
               which provides a wide variety of features in a single click. 
               This enables students and teachers to extract all administrative and 
               academic information on regular basis and permit them to interact with the 
               system in a desired manner. Students are allowed to access academic information and campus 
               event's information with simple one time registration. 
<br><br>
The software - Moodle is targeted to cover different sections like e-mail for faculties,
 training and placement department information, on-line library information,
  staff area with circulars and student section with examination marks and 
  performances, attendance, extra classes schedule etc. parent's section to 
  keep a watch on their ward and many more critical areas. 
  In short, this WLAN installed is the backbone of complete communication. 
  We aim to set out institute as future model of the "Paperless Digital Institute for others to follow". 
  This setup will be made online to allow interactions between students, parents with the faculty members.
  <br><br>
  A 6 Mbps leased line connection for internet connectivity is provided in the Mobile Communication, 
  GiS Labs, Project Lab for students for the projects during the final year of their curriculum.
</STRONG></p>
<H1 align="center">WiFi</h1>
<p>The whole campus is connected through Wi-Fi connectivity on a 140 Mbps lin</P>>
{% endblock %}