<!DOCTYPE html>
{% extends "Support/Support_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Exam Cell </h1>   
        
    <h3> Pre Examination Work </h3>
          <ul>
             <li>Exam Forms</li>
             <li>Forms Scrutiny</li>
             <li>Prepare lists, seat numbers &amp; hall ticket</li>
             <li>Issue hall tickets</li>
          </ul>
    <h3>Post Examination Work </h3>
        <ul>
             <li>photocopy and revaluation</li>
             <li>Print marksheets</li>
        </ul>
    <h3> >Miscellaneous </h3>
        <ul>
           <li>Distribute degree certificates</li>
           <li>Prepare transcripts for students applying for higher education</li>
           <li>Verification of academic credentials</li>
           <li>Special certificates</li>
           <li>DTE website updates</li>
        </ul>
    <h3> Exam Section Staff </h3>
       <ul class="collection">
                <li class="collection-item">
                    Mr. Ashwin Chavan -
                    <span class="fac_position ">Exam cell in-charge</span><br>
                </li>
                <li class="collection-item">
                    Ms. V. Jayanthy
                </li>
                <li class="collection-item">
                    Ms. Sonali Sawadawkar
                </li><li class="collection-item">
                    Ms. Reshma Kadam
                </li>
                <li class="collection-item">
                    Mr. Sachin Gurav
                </li>
            </ul>
{% endblock %}