{% extends "Support/Support_department.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}My Hello Page{% endblock %}
{% block data %}
    <h1>  Nonteaching Staff </h1> 
     <img  src="{% static "images/Support/Non_Teaching.jpg" %}" style="height:100%; float:left"/>
     <br />
     <ul>
                    <li  ><h4>HR &amp; Accounts</h4></li>
                    <li>MR. RAVI KRISHNAN</li>
                    <li>MR. VINOD BHALE</li>
                    <li>Ms. MEGHA MAHAMUNKAR</li>
                </ul>
                <ul>
                    <li  ><h4>Technical</h4></li>
                    <li>MR. SAIKRISHNA J - Network Administrator</li>
                    <li>MR.SACHIN JADE</li>
                    <li>MR.BHAGYASHAL WAGHMARE</li>
                    <li>MR.YOGESH A PANCHAL</li>
                    <li>MR.SRINIVAS BATHULA</li>
                    <li>MR. ANANTHAKUMAR</li>
                    <li>MS.CHETANA DESHPANDE</li>
                    <li>MR.VINAYAK CHIKANE</li>
                    <li>MS.HARSHADA BHALERAO</li>
                    <li>MR.MAHESH PATIL</li>
                    <li>MR.VINODKUMAR GUPTA</li>
                    <li>MR.SANTOSH VANAGE</li>
                    <li>MR.PRAVIN VIRKAR</li>
                    <li>MR.NILESH S CHAVAN</li>
                    <li>MS.MRUNMAI POSAM</li>
                    <li>MR.SUDHIR PATIL</li>
                    <li>MR.ABHIJIT CHAVAN</li>
                    <li>MR.PRITAM NEWASE</li>
                </ul>
                <ul>
                    <li  ><h4>Non-Technical</h4></li>
                    <li>MR.MANGESH TIRLOTKAR</li>
                    <li>MR.SACHIN PAWAR</li>
                    <li>MR.UTTAM NARVEKAR</li>
                    <li>MR.PRASHANT D PAWAR</li>
                    <li>MR.ARVIND PATIL</li>
                    <li>MR.ARUN ANNAMALAI</li>
                    <li>MR.VIJAY CHIKANE</li>
                    <li>MR.HANMANTA KAKI</li>
                    <li>MR.PUNDALIK PATNE</li>
                    <li>MR.ANKUSH R GADE</li>
                    <li>MR.INDRABAHADUR SINGH</li>
                    <li>MR.DHIRAJ ZENDE</li>
                    <li>MR.APPA D BORADE</li>
                    <li>MR.VISHNU PAWAR</li>
                </ul>
                <ul>
                    <li  ><h4>Purchase</h4></li>
                    <li>MR.S.GOPALAKRISHNAN</li>
                    <li>MR.C.V.GOPALAKRISHNAN</li>
                </ul>
                <ul>
                    <li  ><h4>Library</h4></li>
                    <li>MR. RAMESH BIDI - Librarian</li>
                    <li>MR. SANDIP PATIL</li>
                    <li>MR. AMOL PATIL</li>
                    <li>MR. SANDEEP MUNGURWADE</li>
                </ul> 
{% endblock %}