<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Anti Ragging Committee </h1>   
     <a href='{% url 'Anti_ragging' %}'><h2> <center> Prevention of ragging </center></h2></a>
    
    <table style="width:100%">
  <tr>
    <td> Dr. Atul.N.Kemkar</td> 
    <td>HOD, EXTC   </td>
    <td>022-6108-2404</td>
  </tr>
  
  <tr>
    <td>Dr. Manasi M Karkare</td> 
    <td>HOD, FE </td>
    <td>022-6108-2408</td>
  </tr>
  
  <tr>
    <td>Dr.Rizwana Shaikh</td> 
    <td>HOD, CE </td>
    <td>022-6108-2403</td>
  </tr>
  
  <tr>
    <td>Ms.Lakshmi Sudha</td> 
    <td>HOD, IT </td>
    <td>022-6108-2405</td>
  </tr>
  
  <tr>
    <td>Prof.Prasad Iyer</td> 
    <td>HOD, PPT </td>
    <td>022-6108- 2407</td>
  </tr>
  
  <tr>
    <td>Dr Rupendra S . Nehete</td> 
    <td>HOD, ME</td>
    <td>022-6108- 2412</td>
  </tr>
  
  <tr>
    <td>Prof Rajesh Kadu</td> 
    <td>Asst ProF. , CE</td>
    <td>022-6108- 2466</td>
  </tr>
  
  <tr>
    <td>Prof Mahesh Biradar</td> 
    <td>Asst ProF. , FE</td>
    <td>022-6108- 2498</td>
  </tr>
  
  <tr>
    <td>Prof Shubhangi Kadu</td> 
    <td>Asst ProF. , BT</td>
    <td>022-6108- 2410</td>
  </tr>
  
  <tr>
    <td>Dr Smitha Kumar</td> 
    <td>Asst ProF. , FE </td>
    <td>022-6108- 2495</td>
  </tr>
  
  <tr>
    <td>Ms.Sheetal Padmanabhan</td> 
    <td>STUDENT -BE EXTC</td>
    <td>8108134097</td>
  </tr>
  
  <tr>
    <td>Mr.Padmanabhan .V.</td> 
    <td>PARENT</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Ms.Namita Preman</td> 
    <td>STUDENT -BE PPT</td>
    <td>9819569409</td>
  </tr>
  
  <tr>
    <td>Mr.Rajani Preman</td> 
    <td>PARENT</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Mr Aditya Sargar</td> 
    <td>STUDENT -BE CE </td>
    <td>9029025678</td>
  </tr>
  
  <tr>
    <td>Nanda sagar</td> 
    <td>PARENT</td>
    <td></td>
  </tr>
  
      
</table>

    {% endblock %}