<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> INTERNAL COMPLAINT COMMITTEE </h1>   
    <p> 
The Parliament of India passed the “Sexual Harassment of Women at Workplace (Prevention, Prohibition, and Redressal) Act,” 
in the year 2013. The ACT provides protection against sexual harassment of women at workplace and for the prevention and 
redressal of complaints of sexual harassment and for the matters connected therewith or incidental thereto. 
The guidelines explicitly state the following: “It shall be the duty of the employer or other responsible persons in 
workplaces or other institutions to prevent or deter the commission of acts of sexual harassment and to provide the
procedures for the resolutions, settlement, or prosecution of acts, of sexual harassment by taking all steps require.” 
Educational institutions are also bound by the Supreme Court’s directive and the Act. S.I.E.S Graduate School of Technology, 
Nerul, Navi-Mumbai is committed to creating and maintaining an environment which is free of all forms of gender violence,
sexual harassment, and discrimination on the basis of sex/gender. Following this, the institute is committed to uphold the 
Constitutional mandate ensuring the above mentioned human rights of all those who fall within its jurisdiction. As directed 
by the act SIESGST has constituted a committee called “Internal Complaint Committee to Prevent Sexual Harassment of Women at
the Workplace.” The following policy has been made keeping in mind the above facts.
  </p>
  
   <h2>Objectives </h2>
   <p>The objectives of the Internal Complaint Committee to Prevent Sexual Harassment of Women at the Workplace are as follows:</p>
    <ol>
    <li>To develop a policy against sexual harassment of women at the Institute.</li>
    <li>To evolve a permanent mechanism for the prevention and redressal of sexual harassment cases and other acts of gender
     based violence at the Institute. </li>
    <li>To ensure the implementation of the policy in letter and spirit through proper reporting of the complaints and their 
    follow-up procedures. </li>
    <li>To uphold the commitment of the Institute to provide an environment free of genderbased discrimination. </li>
    <li>To create a secure physical and social environment to deter any act of sexual harassment.</li>
    <li>To promote a social and psychological environment to raise awareness on sexual harassment in its various forms.</li>
    </ol>  
 
    <h3>ICC Committee</h3>
    <table style="width:100%">
  <tr>
    <th>NAME</th> 
    <th>DESIGNATION</th>
  </tr>
  <tr>
    <td>Dr. Manasi M Karkare</td> 
    <td>HOD, FE</td>
  </tr>

  <tr>
    <td>Dr.Rizwana Shaikh</td> 
    <td>HOD, CE</td>
  </tr>

<tr>
    <td>Dr Rupendra S . Nehete</td> 
    <td>HOD, ME</td>
  </tr>

<tr>
    <td>Prof. Seema Khan</td> 
    <td> T&P Coordinator</td>
  </tr>

<tr>
    <td>Prof . Seema Desai</td> 
    <td>Faculty, IT</td>
  </tr>

<tr>
    <td>Prof . Vandana Sawant</td> 
    <td>Faculty, EXTC</td>
  </tr>

<tr>
    <td>Ms. Binacaa Varma</td> 
    <td>NGO, Innerwheel</td>
  </tr>

</table>

{% endblock %}