{% extends "About_us/About.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}My Hello Page{% endblock %}
{% block data %}
<table style="width:100%">
  <tr>
    <th>NAME</th> 
    <th>DESIGNATION</th>
  </tr>
  <tr>
    <td>Shri.V.Shankar</td> 
    <td>President</td>
  </tr>
  
  <tr>
    <td>Shri. J. Santhanam</td> 
    <td>Vice President</td>
  </tr>
  
  <tr>
    <td>Shri.P.Sethuraman</td> 
    <td>Vice President</td>
  </tr>
  
  <tr>
    <td>Shri. S. Ganesh </td> 
    <td>Hon. Secretary</td>
  </tr>
  
  <tr>
    <td>Shri.M.V.Ramnarayan</td> 
    <td>Jt.Hon. Secretary</td>
  </tr>
  
  <tr>
    <td>Shri.Devdas G Nair</td> 
    <td>Hon. Treasurer</td>
  </tr>
  
  <tr>
    <td>Shri.G.Chidambaram</td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.N.S.Sundar Rajan </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri. H. P. Eswar   </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.M.Kalahasthi   </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri. L. Krishnan   </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.Ramesh Srinivasan</td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.S.V.Viswanathan    </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.Arvind Narayanan   </td> 
    <td>Member</td>
  </tr>
  
  <tr>
    <td>Shri.Srinath Sridharan  </td> 
    <td>Member</td>
  </tr>
</table>   
{% endblock %}
