<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> OVERVIEW </h1>   
    <p>The South Indian Education Society (SIES) established in 1932 at Matunga, is a pioneer in the field of education, 
    in this metropolis. The Society has been serving the cause of education and has carved for itself a niche, as a provider 
    of quality and value based education from Nursery to Doctoral level in a wide variety of fields. The institute seeks to 
    achieve the educational mission by focussing on the modes of inquiry, which strengthens thinking skills and provides 
    extensive field experiences, to bring together theory and practices. </p>
      
    <h2>"This society should sincerely serve the cause of education and the educational needs of the common man of this
    cosmopolitan city"</h2>
    <p>- SIES Mission set by our founder Shri M. V . Venkateshwaran in 1932</p>
    <p>SIES Graduate School of Technology, an integral part of this well-established Community, started in the year 2002 is 
    located in the list of an educational hub in Navi Mumbai imparting quality based technical education, offering four year
    Bachelor of Engineering courses in Electronics and Telecommunication Engineering, Computer Engineering, Information 
    Technology, Printing & Packaging Technology and Mechanical Engineering. 
    </p>

    {% endblock %}