<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> THE PRINCIPAL </h1>   
    <p>Dr. Vikram Patil has done his graduation in Electronics Engineering and his Masters in Electronics-Computer
    application from Shivaji University . He subsequently did his Ph.D. in the field of mobile
    computing and communications from Bharati Vidyapeeth University Pune in the field of​ 3G Mobile communication system.  </p>
      
    <p>Dr. Vikram Patil has over 30 years of teaching and administrative experience, and has guided a number of undergraduate 
    and postgraduate projects, with a number of publications in national and international journals and conferences to his credit.
    ​H​is areas of interest, to name a few, include Mobile communication system , Wired / Wireless networks, Computer applications,
    Sensor networks . He has organized a number of workshops and conferences in the areas of effective teaching, team building and
    on recent advances in engineering . ​Dr. Vikram Patil also has a patent to his credit in the domain of online security. 
    He is a member of IEEE, CSI, IETE, ISTE, IACSIT and IAENG. He has worked as an expert on various technical & local
    inspection committees set up by AICTE , Shivaji University and Mumbai University. ​Dr. Vikram Patil was member of the
    Academic Council and Chairman, Ad-hoc Board of studies in Electrical and Electronic Shivaji University, and is a
    recognized PhD guide with Shivaji University. He has developed several E-learning software,different applications 
    for mobile devices (mobile banking projects, gaming), and many more software based projects on various platforms

  </p>

    {% endblock %}