<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> VISION </h1>   
    <p>"To be a centre of excellence in Education and Technology committed towards Socio-Economic advancement of the country" </p>
      
    <h2> MISSION </h2>

    <ol>
    <li> To impart advanced knowledge in Engineering and Technology. </li>
    <li>To transform young minds towards professional competence by inculcating values and developing skills. </li>
    <li>To promote research and ensure continuous value addition among students and employees </li>
    <li>To strengthen association with industry, research organizations and alumni to enhance knowledge on current technologies. </li>
    <li>To promote next generation technocracy and nurture entrepreneurial culture for social-economic growth.</li>

    </ol>  

    {% endblock %}