<!DOCTYPE html>
{% extends "About_us/About.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> WOMEN DEVELOPMENT CELL </h1>   
    <p>The CWDC (College Women Development Cell) has been setup as per the guidelines laid down by the women development cell 
    of University of Mumbai. CWDC conducts various programs and workshops to create social awareness in students about women 
    related issues. The cell looks into the grievances of the women, both staff and students, and provides guidance and help 
    to them.
    </p>
      
    <h2>  Objectives </h2>
    <ol>
    <li>To prevent sexual harassment at workplace and to promote general wellbeing of female students, teaching and non-teaching
    women staff of SIES Graduate School of Technology. </li>
    <li>To become a resource centre for women and provide a forum for exchange of ideas. </li>
    <li>To employ safety and security measures for female employees and girl students at college campus.</li>
    <li>To enhance self esteem and self confidence of women, students and staff of the institute.</li>
    </ol>  

    <h3>WDC Committee</h3>
    <table style="width:100%">
  <tr>
    <th>PHOTO</th>
    <th>NAME</th> 
    <th>POSITION</th>
    <th>QUALIFICATION</th>
  </tr>
  <tr>
    <td>Dr. Manasi M Karkare </td> 
    <td>HOD, FE</td>
    <td>President | Convener</td>
  </tr>
  
  <tr>
    <td>Prof. Ujwala Ravale</td> 
    <td>Faculty , CE</td>
    <td>Representative</td>
  </tr>
  
  <tr>
    <td>Prof. Katyayani</td> 
    <td>Faculty ,PPT</td>
    <td>Representative</td>
  </tr>
  
  <tr>
    <td>Prof. Prajakta Kane</td> 
    <td>Faculty ,MECH   </td>
    <td>WDC Co-ordinator</td>
  </tr>
  
  <tr>
    <td>Ms. V.Vijayalakshmi </td> 
    <td>Office Suprintendant</td>
    <td>Non-Teaching Representative</td>
  </tr>
  
  <tr>
    <td>Ms. Shruti Shinde</td> 
    <td>Student Representative</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Ms. Vandana Chincholkar</td> 
    <td>Maharashtra Mahila Parishad</td>
    <td></td>
  </tr>
</table>

    {% endblock %}