<!DOCTYPE html>
{% extends "Placement/Placement_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Higher Education </h1>   
    <p>It has always been an endeavour at SIES Graduate School of Technology
    to endow students with the right technical aptitude and overall development to choose their own career path. 
    This is also true with taking up higher education.
    SIES GST has been an incubator for students wishing to pursue their higher studies in India and Abroad since its inception.
    To aid students in the process of applying for higher education, SIES GST through its training & 
    placement cell also conducts workshops/seminars on regular basis dealing with the prospective courses and institutes, 
    overseas application procedures, facing competitve examinations like GRE, TOEFL, GATE, CAT, etc.
    Our students have been successful in pursuing their higher education in premier institutes 
    like the IITs, IIMs, NITs, etc. in India and RIT, MSU, MIT, UMass, etc. abroad</p>
    <h3>Latest placement news of The GST</h3> 
    
{% endblock %}