<!DOCTYPE html>
{% extends "Placement/Placement_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Placement </h1>   
    <p>Utmost importance is given to placement related activities to ensure 
    that all successful graduates receive suitable placements. Over the past several years, 
    a strong placement network has been developed with industries in the manufacturing, engineering, 
    finance, information technology, publication and other sectors. 
    This has been achieved through constant interaction with the industry by way of seminars, research projects, 
    and on-and off-campus initiatives. As part of its placement efforts, placement teams visit potential employers 
    and consultants and apprise them of the level of knowledge and practical application skills 
    acquired by the graduates in their respective areas of specialization. 
    The profiles of the students seeking placement assistance are made available to the prospective employers.</p>
    <h3>Latest placement news of The GST</h3> 
    
{% endblock %}