<!DOCTYPE html>
{% extends "Placement/Placement_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Training </h1>   
    <p>Prep talks and personality development workshops are organized as part of the placement drive.
     All the students are provided guidance in career planning as they progress to higher levels of the drive.
     A number of national and multinational companies have recruited the students through campus recruitment.
     The entire placement exercise is a joint effort between the institute and the students.
     While the institute provides guidance, support, and networking with potential employers, 
     the students have the responsibility to put in the maximum possible efforts to obtain suitable placements.</p>
     <h1> Value Added Courses </h1>
     <h2>Computer Engineering </h2>
    <p>Value added course on Big data and hadoop was conducted in the weekends of july -
                            november 2014 which was orgabnised in association with petaa bytes.
                            Resource person Mr. Shrikant Gawande, Petaa Bytes.    </p>
                            <br>
                        <p>
                            Upcoming value added courses on Mongo DB, Ruby on rails, python (x,y) and spring MVC.
                        </p>
                         <h2>Electronics and Telecommunications </h2>
                         
                        <p>
                            Two weeks ISTE approved STTP on computer networking organised by IIT-B on 23-29 june and
                            30th
                            june to 5th july 2014.
                        </p><br>
                        <p>
                            Seminar on "overview of C, C++, core JAVA" by profdessor dhaygude a SIESGST on 28/8/2014
                        </p><br>
                        <p>
                            Seminar on "LATEX" for TE and BE students at SIES GST on october 7th 2014.
                        </p>
                        <h2>Information Technology </h2>
                        <p>
                            Value added course: Server and Client programming in .NET technology was
                            conducted in the weekends during august-september 2014.
                            Resource person Ms. Radhika Bhandaru
                        </p><br>
                        <p>
                            Workshop: Developing mobile applications with android program gave students the knowledge
                            required to develop state of the art apps was conducted in the weekends of sept-oct 2014.
                        </p><br>
                        <p>
                            A seminar on FDP in IoT was conucted on jan 17 2015.
                        </p><br>
                        <p>
                            Upcoming value added course on data base administration will be very helpful for students.
                        </p>
                        <h2>Mechanical engineering</h2>
                          <p>
                            Value added course on process piping engineering was conducted by Dr. B A Mujawar who
                            is the president of process engineering and management consultants, during July
                            and December 2014.
                        </p><br>
                        <p>
                            Being the remote centre for IIT workshops on engineering mechanics, themodynamics and
                            fluid mechanics were organised, giving students an opportunity to learn the intricacies
                            of their subjects.
                        </p>
                        <h2>Printing and Packaging Technology</h2>
     <p>
                            ISO 9001:2008 quality management system. 2 day internal quality auditor training was
                            conducted during may 5-6 2015.
                        </p><br>
                        <p>
                            Value added course on solid works training program which was a software training during
                            the weekends of March-May 2015.
                        </p><br>
                        <p>
                            Upcoming value added course 3D printing.
                        </p>
                        <h2>Biotechnology</h2>
                        
                        
        
{% endblock %}