<!DOCTYPE html>
{% extends "Mech/Mech_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Department of Mechanical Engineering </h1>   Intake: 60 Students
    <p>Mechanical Engineering is one of the oldest and broadest engineering disciplines, that applies the principles of Physics, Chemistry and Materials science for analyzing, drawing, designing, manufacturing and maintaining mechanical systems. It is the branch of engineering that deals with drawing, designing and production of tools, machines and all other mechanical equipments and hardware. The field has continually evolved to incorporate advancements in technology, and mechanical engineers today, are pursuing developments in fields such as composites, mechatronics, CAD and Nanotechnology. Started in the year 2011, the department is the latest addition to the GST and is well underway establishing all the necessary infrastructures. 
The course aims to build engineers who are well conversant with the latest technologies in the field of Mechanical Engineering and efficient to analyze and come up with innovative ideas for designing products.</p>
        
    <h3> Vision </h3>
    <p>To excel in the field of Mechanical Engineering to develop technological leaders for Industry, Research and society
</p>
    <h3>Mission </h3>
    <pre>
   1. To create an environment that inspires students and staff to develop competency in Mechanical Engineering field. 
   2. To create and maintain the infrastructure necessary for overall development and entrepreneurial culture of students to 
      tackle the problems of Industry and Society.

    </pre>
{% endblock %}