{% extends "Mech/Mech_department.html" %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}My Hello Page{% endblock %}


{% block data %}
<table style="width:100%">
  <tr>
    <th>PHOTO</th>
    <th>NAME</th> 
    <th>POSITION</th>
    <th>QUALIFICATION</th>
  </tr>
  <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Dr. Rupendra Nehete</td> 
    <td>HOD</td>
    <td>B.E (Prod), M.E (Process Metallurgy), Ph.D (Prod)</td>
  </tr>
<tr>
    <td> <img src='{% static "images/Mech/pradip_patil.jpg" %}' alt="hi" width="50" height="50"> </td>
    <td>Dr.Pradip P Patil</td> 
    <td>Associate Professor</td>
    <td>B.E, M.E, Ph.D. (Production)</td>
  </tr>
  <tr>
    <td> <img src='{% static "images/Mech/siddique_ahmed.jpg" %}' alt="hi" width="50" height=50></td>
    <td>Prof.Siddique Ahmed</td> 
    <td>Assistant Professor</td>
    <td>B.E.(Mechanical), M.E.(CAD/CAM)</td>
  </tr>
    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Mohammad Ali Ansari</td> 
    <td>Assistant  Professor</td>
    <td>B.E.(Mech.), M.E.(Mfg & Systems Engg.)</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Mech/onkar_potdar.jpg" %}' alt="hi" width="50" height="50"></td>
    <td>Prof.Onkar V Potadar</td> 
    <td>Assistant  Professor</td>
    <td>B.E, M.E</td>
  </tr>
    <tr>
    <td><img src='{% static "images/Mech/ganesh_kadam.jpg" %}' alt="hi" width="50" height="50"></td>
    <td>Prof.Ganesh S Kadam</td> 
    <td>Assistant  Professor</td>
    <td>B.E.(Mech.), M.Tech. (Mfg & Systems Engg.)</td>
  </tr>
    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Prashant Ambadekar</td> 
    <td>Assistant  Professor</td>
    <td>B.E.(Prod.),M.E.(Production Tech. & Mgt.), Ph.D*</td>
  </tr>
    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Srikrishna Rao</td> 
    <td>Assistant  Professor</td>
    <td>B.E (Mechanical), M.E (Mfg & Systems Engg.)</td>
  </tr>
      <tr>
    <td><img src='{% static "images/Mech/ajay_hundiwale.jpg" %}' alt="hi" width="50" height="50"></td>
    <td>Prof.Ajay S Hundiwale</td> 
    <td>Assistant  Professor</td>
    <td>B.E(Mechanical), M.E (Thermal)</td>
  </tr>

    <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Chandan D Chaudhari</td> 
    <td>Assistant  Professor</td>
    <td>B.E (Mechanical), M.E (CAD/CAM)</td>
  </tr>  
      <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Prajakta Kane</td> 
    <td>Assistant  Professor</td>
    <td>B.E (Automobile), M.E (Thermal)</td>
        <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Dr.Kaustubh V Chavan</td> 
    <td>Assistant  Professor</td>
    <td>B.E (ME), M.Tech (Heat Power), Ph.D (ME)</td>
  </tr>
      <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Lokpriya Gaikwad</td> 
    <td>Assistant  Professor</td>
    <td>B.E (Prod), M.E (Mfg. Sys. Engg), Ph.D *</td>
  </tr>
      <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Snehal P Dhondkar</td> 
    <td>Assistant  Professor</td>
    <td>B.E (ME), M.E (Machine Design)</td>
  </tr>
      <tr>
    <td><img src=" " width="50" height="50"></td>
    <td>Prof.Sagar B Kadu</td> 
    <td>Assistant  Professor</td>
    <td>B.E (ME), M.E (Heat Power)</td>
  </tr>
     
</table>
{% endblock %}
