<!DOCTYPE html>
{% extends "MECH/mech_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> ISHRAE STUDENT CHAPTER INSTALLATION CEREMONY </h1>   
    <p> Date:19 august 2017
 Venue:Saraswati college of engineering, PlotNo.46,Sector5,Near MSEB SubStation,Kharghar,
 Navi Mumbai,Maharashtra 410210</p>
 
 <p>Ishrae college chapters from mumbai and navi mumbai regions were summoned for the
 event,At the beginning of the event members of ishrae mumbai chapter gave their introductions
 And then Mr Sanjay Kumar Verma told us about the importance of ishrae organisation,dates for
 Ishrae job junction,acrex and jamboree with their venues;Healsodicussedabout Industrial
 visit which are to be conducted in the coming months,After him Mr Kunal Bhavs are explained in
 Detail about theI.S.T.L.event schedule and how shall it be conducted and what is expected
 from college teams.installation ceremony began at 9:30am first presidents each college
 Chapters were called on stage and were made to take an oath to be irresponsibility as president
 For respectivecollegechaptersthesameprocedurewasfollowedforTreasurersand
 secretaries.The Installation Ceremony Ended At 12:15pm.
 Video sofa rex,jobjunctionandjamboreewereshown till lunch break,the luch break ended at
 2pm after it for the expert talk segment Mr.Mahendra Devlekar were invited he gave speech
 About motivation and setting goals in lifpm.His segment ended at 3:10pm, As per the schedule
 Toppers felicitation was to be conducted but the results for RAC subject were not declared and
 The results for HT and T do fsome of the colleges were yet to be declared the felicitation was
 Not conducted,Thus we were instructed that the certificates and prize money shall be given
 During future events.vote of thanks was given by all the ishrae mumbai chapter members to
 Everyone and saraswati college for conducting the event.the whole ceremony ended at 4pm</p>
 
 
 

<h1> BAJA VIRTUALS 2018 </h1> 
   <p> TEAM TURBOCRAFTERS , after months of dedication and hard work, had recently appeared for the Virtuals Round of BAJA 2017-18. 
 Out of 387 teams in total, Here are some specifics:
 PRESENTATION : 80.9/100
 VIVA : 96/100
 AIR : 22nd Rank.
 Mumbai : 2nd Rank.
 Navi Mumbai : 1st Rank.</p>
   
 
 <h1>ISHRAE ISTL MEET REPORT </h1>
<P>Date:29 th July 207
 Venue: 102,1st Floor,Sunil Enclave Premises Co-op Soc.Ltd,Off M V Road,Next to WEH Metro Station,Pereira Hill Road,Andheri East, 
 Mumbai-400099
 Time: 3:30 pm </P>
 
 <P>Members present:
 Ishrae Mumbai Chapter(I.M.C) Office bearers:Mr.R.N.Joshi,Mr.MihirSanghvi,Mr.SanjayKumaVerma,Mr.AmodDikshitandMrs.
 SanitaJanghiani;
 H.V.A.C consultancy Agencies
 Fairair Pvt.Ltd,Kelvin,K.D.building solutions,Vav Air-conditioning Pvt.Ltd,Space HVAC
 Systems Pvt.Ltd,HTL Aircon Pvt.Ltd,Pentagon,Acube Engineering and Consultancy,
 Escube Air-conditioning Pvt.Ltd, Vigneshwar Air-conditioning Pvt.Ltd;
 Engineering Colleges
 SIESGST, FRCIT,DMCOE,SCOE,LTCOE, SJCEM, SPCE,VVCOE,Dr.BATUCOE,
 MHSSCOE,DJSCOE,KJSCOE; </P>
 <P>The meeting began withMr.R.N.Joshi addressing all the colleges and HVAC
 consultancy agencies representatives and then discussed about the need for installing
 Ishrae technical league and the roles to be played by Office bearers,HVAC consultancy
 Agencies and College teams in it.
 The HVAC consultancy Agency delegates were introduced to all otted college
 teams,HTL AirconPvt.Ltd has been allotted to SIESGST and Mrs.Arvind Kaurwasits
 delegate at the venue.
 
 Mr.Mihir Sanghvi Started Video Presentation,the video hadanArchitectanda
 Real Estate Builder Taking Consultation From an ISHRAE consultant,the builder informed
 the former about the location,purpose of the building,working hours,place stobe
 ventilated,safety norms to be followed and points to stick to while designing the building.
 The point she mentioned were Ease of Operation,Suitable Design,Long Life cycle,
 Energy Efficient And coste ffective;Then the Architect displayed the floor plans the
 consultant,He discussed about the rooms to be ventilated and made according to safety
 Norms,ventilation of basement,Service Areas,type of glass to be used,Lighting Load
 And norms as per ISHRAE to be followed.
 Mr.R.N.Joshi discussed how the video showed the problems faced by an HVAC
 consultant while designing ventilation system for a building and also that the video gave
 information about everything necessary to design the building; Then he asked us what
 question the consultant should have asked to the Architect and the Builder ,He requested
 Us to ask for further queries over the coming days.
 After the video presentation all the Twelve Teams of Colleges and HVAC
 consultants were given CDs containing the Floor plans in.cad format and an ISHRAE
 Hand Book with a psychometric chartinit;Then further discussion was done about the
 planning of installation of college chapters and the dates for upcoming events;The
 meeting ended at 6:30pm
</P>

 <h1>FDP</h1>
 <p>Faculty Knowledge upgradation on Overview of carbon capture and Storage</p>
 
 <h1>FDP</h1>
 <p>Faculty development program on Reverse Engineering</p>
 
 <h1>STTP</h1>
 <p>Short term training program for faculty on Finite Element Analysis with ANSYS</p>
 
    
{% endblock %}