<!DOCTYPE html>
{% extends "IT/IT_department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block data %}
    <h1> Department of INFORMATION TECHNOLOGY </h1>   Intake: 60 Students
    <p>Today, the term 'Information Technology' has grown to encompass many aspects of computing and technology. 
    The sector has grown phenomenally in the past decade, with the advent of IT and IT services related companies 
    providing career opportunities to millions of people around the world. It is the study, design, development, 
    implementation, support and management of computer based information systems, particularly software applications 
    and computer hardware. Due to increasing demand for qualified IT professionals, it has become the most preferred 
    career option all over the world, for enterprising and growth oriented people. </p> 
    <p>The course is designed to prepare engineers for IT-enabled applications and services. 
    An engineering graduate in IT will be capable of bringing about a holistic approach to the designing, testing, and 
    maintenance of Information systems.</p>
        
    <h3> Vision </h3>
    <p>To develop IT professionals for accomplishment of industrial & societal needs through quality education.</p>
    <h3>Mission </h3>
    <pre>
    1. To impart advanced knowledge in Engineering and Technology. 
    2. To transform young minds towards professional competence by inculcating values and developing skills. 
    3. To promote research aptitude and ensure continuous value addition among student and employees.
    4. To strengthen association with industry, research organization and alumni to enhance knowledge on current technologies.
    5. To nurture entrepreneurial talent and contribute towards social-economic growth.
    </pre>
{% endblock %}