<!DOCTYPE html>
{% extends "department.html" %}
{% block title %}My Hello Page{% endblock %}

{% block department_links %}
    <nav class="navbar bg-dark">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href='{% url 'IT_about' %}'>About IT Department</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Department Activities</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Student Development</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Faculty</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Infrastructure</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Achievements</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Contact us</a> </li>
        </ul>
    </nav>
{% endblock %}


{% block department_data %}
    {% block data %}
    {% endblock%}
{% endblock %}